certifi==2021.10.8
click==8.0.4
colorama==0.4.4
distlib==0.3.4
filelock==3.6.0
Flask==2.0.3
itsdangerous==2.1.0
Jinja2==3.0.3
MarkupSafe==2.1.0
pipenv==2022.1.8
platformdirs==2.5.1
six==1.16.0
virtualenv==20.13.1
virtualenv-clone==0.5.7
Werkzeug==2.0.3